 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1097px;
}

.u-section-1 .u-shape-1 {
  width: 835px;
  height: 835px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 13px;
}

.u-section-1 .u-shape-2 {
  width: 717px;
  height: 717px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -910px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 668px;
  width: 668px;
  background-image: url("images/Ale_SECTI_an_logo_to_cyber_security_risk_privacy_and_IA_Governa_a20317dd-8c87-44c7-8ff3-e55a3b6af224.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -655px auto 0 81px;
}

.u-section-1 .u-group-1 {
  width: 641px;
  min-height: 475px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -268px 0 -15px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-1 .u-shape-1 {
    width: 813px;
    height: 834px;
    margin-left: 35px;
  }

  .u-section-1 .u-shape-2 {
    width: 749px;
    height: 749px;
    margin-top: -956px;
  }

  .u-section-1 .u-group-1 {
    width: 648px;
    min-height: 465px;
    margin-top: -167px;
    margin-bottom: -62px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-1 .u-shape-1 {
    width: 631px;
    height: 671px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 649px;
    height: 648px;
    margin-top: -919px;
  }

  .u-section-1 .u-image-1 {
    height: 561px;
    width: 561px;
    margin-top: -593px;
    margin-left: 77px;
  }

  .u-section-1 .u-group-1 {
    width: 538px;
    margin-top: -79px;
    margin-bottom: -188px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-shape-1 {
    width: 520px;
    height: 488px;
    margin-top: 100px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 512px;
    height: 503px;
    margin-top: -672px;
  }

  .u-section-1 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-top: -446px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 452px;
    margin-top: -69px;
    margin-bottom: -84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-shape-1 {
    height: 290px;
    width: 312px;
    margin-top: 56px;
  }

  .u-section-1 .u-shape-2 {
    height: 300px;
    width: 318px;
    margin-top: -407px;
  }

  .u-section-1 .u-image-1 {
    height: 283px;
    width: 283px;
    margin-top: -246px;
    margin-right: 22px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -29px;
    margin-bottom: -61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 537px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 537px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-2 .u-form-1 {
  height: 360px;
  margin: 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-input-5 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  background-image: none;
  text-transform: none;
  padding-top: 17px;
  padding-bottom: 18px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}